<!DOCTYPE html>
<html>
    <head>
        <title>Survery Processing</title>
        <style>
            table, tr, td, th {
                border: 1px solid black;
            }
            .paddTop {
                padding-top: 100px;
            }

            .cenTitle {
                text-align: center;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body onLoad="drawThis();">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">CSC 443</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li><a style="color:white" class="nav-link" href="/charts">Charts</a></li>
                </ul>
            </div>
        </nav>
        <div class="container paddTop">
            <h1>Survey Results</h1>
            <table>
                <tr>
                    <th class="cenTitle" colspan="6">Survey Results (CSC 443)</th>
                </tr>
                <tr>
                    <td>#</td>
                    <td class="cenTitle">Question</td>
                    <td>Average</td>
                    <td>Percents</td>
                    <td>Total</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>This course helped me develop problem-solving skills.</td>
                    <td>70</td>
                    <td><canvas id="Can1" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>This course was very challenging.</td>
                    <td>70</td>
                    <td><canvas id="Can2" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>My programming ability increased after taking this course.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I will list 'Javascript' on my resume.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I will list 'Perl scripting' on my resume.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I will list 'PHP scripting' on my resume.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>If I had more time, I would have done better in this course.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>I will recommend this course to other students.</td>
                    <td>70</td>
                    <td><canvas id="Can3" width="50" height="50" style="border: sold 3px black;"></canvas></td>
                    <td>7</td>
                </tr>
            </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
            function drawPie(obj, perc1, perc2) {
                perc3 = (100 - perc1 - perc2) * 0.01 * Math.PI * 2;
                perc2 = perc2 * 0.01 * Math.PI * 2;
                perc1 = perc1 * 0.01 * Math.PI * 2;

                if (obj.getContext) {
                    var ctx = obj.getContext('2d');

                    ctx.fillStyle = 'rgb(255, 0, 0)';
                    ctx.beginPath();
                    ctx.moveTo(25, 25);
                    ctx.arc(25, 25, 25, 0, perc1);
                    ctx.closePath();
                    ctx.fill();

                    ctx.fillStyle = 'rgb(0, 255, 0)';
                    ctx.beginPath();
                    ctx.moveTo(25, 25);
                    ctx.arc(25, 25, 25, perc1, perc1 + perc2);
                    ctx.closePath();
                    ctx.fill();

                    ctx.fillStyle = 'rgb(0,0,255)'; // color 3 
                    ctx.beginPath();
                    ctx.moveTo(25,25);
                    ctx.arc(25,25,25, perc1+perc2, Math.PI*2);
                    ctx.closePath();
                    ctx.fill();

                    ctx.stroke();
                }
            }

            function drawThis() {
                drawPie(document.getElementById("Can1"),50,25); 
                drawPie(document.getElementById("Can2"),33,33); 
                drawPie(document.getElementById("Can3"),25,45); 
            }
            
            $(document).ready(function() {
                loadChart();

                function loadChart() {
                    $.getJSON('/data', function(data) {
                        console.log(data);
                    })
                }
            })
        </script>
    </body>
</html>