<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CSC 443</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a style="color:white" class="nav-link" href="/">Pong</a></li>
            <li><a style="color:white" class="nav-link" href="/">Pacman</a></li>
            <li><a style="color:white" class="nav-link" href="/">Survey Processing</a></li>
        </ul>
        <ul class="navbar-nav">
            <li style="float: right"><a></a></li>
            <li><a></a></li>
        </ul>
    </div>
</nav>