body {
    background-color: #ababab;
}

table {
    border-collapse : collapse;
    table-layout : fixed;
    background-color : black;
}

table.t {
    margin : auto;
    border : solid 6px black;
    width : 676px;
}

td {
    height : 21px; 
    width : 21px;
    padding : 0px;
    margin : 0px;
    text-align : center;
}

td.y {
    color : yellow;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align : center;
}

td.l1 {
    border-left :solid 2px #0808bb;
}

td.l2 {
    border-left :double 6px #0808bb;
}

td.r1 {
    border-right :solid 2px #0808bb;
}

td.r2 {
    border-right :double 6px #0808bb;
}

td.t1 {
    border-top :solid 2px #0808bb;
}

td.t2 {
    border-top :double 6px #0808bb;
}

td.b1 {
    border-bottom :solid 2px #0808bb;
}

td.b2 {
    border-bottom :double 6px #0808bb;
}

div {
    margin : auto;
    height : 5px;
    width : 5px;
    background-color: yellow; 
}

img {
    vertical-align: middle;
}

span.g {
    color : #959595;
    font-family: 'Courier New', Courier, monospace;
    font-weight : bolder;
    display : block;
    line-height : 10px;
}
